.game-main {
  min-height: 581px;
  color: #ffffff;
  .result-of-game {
    //width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 403px;
    padding-top: 3%;
    text-align: center;
  }
  .loose-img {
    z-index: 9;
    img {
      width: 299px;
      height: 403px;
    }
  }
  .result-of-game-text {
    width: 456px;
  }
  .game-result-coupon {
    font-size: 40px;
    line-height: 4;
  }
  a {
    display: inline-block;
  }
  .white-button {
    width: 230px;
    height: 52px;
    position: relative;
    z-index: 999;
    margin-left: 0;
  }
  .go-to-cabinet-button {
    color: #ffffff;
    text-align: center;
    height: 52px;
    line-height: 52px;
    position: relative;
    z-index: 999;
  }
}
.bg-result-of-game {
  background: url(../img/Ellements3.png) top center no-repeat;
  position: absolute;
  //left: 3%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 85% 80%;
}

@media all and (max-width: 1200px) {
  .bg-result-of-game {
    background-size: 101% 69%;
    left: 0;
  }
}
@media all and (max-width: 900px) {
  .game-main {
    .result-of-game {
      justify-content: center;
    }
    .win-img img,
    .loose-img img {
      width: 239px;
      height: 319px;
    }

    .white-button {
      width: 181px;
      height: 47px;
      line-height: 47px;
    }
  }
}
@media all and (max-width: 620px) {
  .game-main {
    .win-img img,
    .loose-img img {
      width: 191px;
      height: 243px;
    }

    .result-of-game {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 34px;
      }
    }
  }
}
@media all and (max-width: 420px) {
  .bg-result-of-game {
    display: none;
  }
  .game-main {
    .win-img img,
    .loose-img img {
      display: none;
    }
    .result-of-game-text {
      width: 320px;
    }
    .go-to-cabinet-button {
      margin-left: 8px;
    }
  }
}
