.registration-main {
  .container-cabinet {
    .wrapper {
      .KYC-first-step {
        h4 {
          width: 853px;
          line-height: 41px;
          font-weight: normal;
          padding-bottom: 60px;
        }
        form {
          margin-top: 20px;
          input {
            width: 316px;
            height: 55px;
            border: none;
            margin: 10px 10px 10px 0;
          }
          div {
            display: inline-block;
            .custom-select-KYC {
              width: 316px;
              height: 55px;
              position: relative;
              top: -1px;
              .custom-select-trigger {
                line-height: 55px;
              }
              &.select-country {
                margin-right: 10px;
              }
            }
          }
          .input-adress {
            width: 647px;
          }
        }
        .custom-select-KYC {
          background-color: #ffffff;
          cursor: pointer;
          span {
            text-align: left;
            padding-left: 20px;
            color: #6f6f6f;
            font-family: "SofiaProRegular";
            font-size: 16px;
          }
          .custom-select-trigger {
            margin-left: 0;
            &:after {
              right: 15px;
            }
          }
          .custom-options {
            top: 32px;
            right: 0px;
            border-radius: 0;
            max-height: 288px;
            overflow-y: scroll;
            &:before {
              right: 14px;
            }
            .custom-option:first-of-type {
              border-radius: 0;
            }
            .custom-option:last-of-type {
              border-radius: 0;
            }
          }
          .custom-option:hover,
          .custom-option.selection {
            background: rgba(111, 111, 111, 0.4);
          }
          .custom-option:hover {
            color: #ffffff;
          }
        }
        button {
          border: none;
          font-size: 16px;
          font-family: "SofiaProSemiBold";
        }
        .white-button-arrow {
          margin-left: 0;
          margin-top: 45px;
          width: 143px;
          height: 50px;
          &::after {
            content: "";
            background-image: url(../img/Icon_Right_arrow-active.png);
            margin-left: 15px;
            background-size: 37px 11px;
            display: inline-block;
            width: 37px;
            height: 11px;
            content: "";
          }
          &:hover::after {
            background-image: url(../img/Icon_Right_arrow.png);
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .registration-main .container-cabinet .wrapper .KYC-first-step {
    width: 850px;
    h3 {
      margin-left: 10px;
    }
    h4 {
      width: 522px;
      margin: 0 auto;
    }
    form {
      margin-left: 10px;
      input {
        width: 265px;
      }
      div {
        .custom-select-KYC {
          width: 266px;
        }
      }
      .input-adress {
        width: 545px;
      }
    }
    .white-button-arrow {
      margin-left: 10px;
    }
  }
}

@media all and (max-width: 850px) {
  .registration-main .container-cabinet .wrapper .KYC-first-step {
    width: 680px;
    form {
      input {
        width: 205px;
      }
      div {
        .custom-select-KYC {
          width: 205px;
        }
      }
      .input-adress {
        width: 425px;
      }
    }
  }
}

@media all and (max-width: 730px) {
  .registration-main .container-cabinet .wrapper .KYC-first-step {
    //width: 365px;
    h4 {
      width: 265px;
      line-height: 25px;
      padding-bottom: 40px;
    }
    h3 {
      font-size: 19px;
      text-align: center;
      margin: 0 auto;
    }
    form {
      text-align: center;
      div {
        .custom-select-KYC {
          &.select-country {
            margin-left: 10px;
          }
        }
      }
    }
    .white-button-arrow {
      margin: 20px auto 0;
      display: block;
    }
  }
}

@media all and (max-width: 430px) {
  .registration-main .container-cabinet .wrapper .KYC-first-step {
    width: 320px;
    form {
      margin-left: 0;
      input {
        width: 320px;
        margin: 10px 10px 0px 0;
      }
      div {
        .custom-select-KYC {
          width: 320px;
          margin-top: 10px;
          &.select-country {
            margin-left: 0;
          }
        }
      }
      .input-adress {
        width: 320px;
      }
    }
  }
}

@media all and (max-width: 320px) {
  .registration-main .container-cabinet .wrapper .KYC-first-step {
    form {
      input {
        width: 310px;
      }
      div {
        .custom-select-KYC {
          width: 310px;
          margin-left: -10px;
        }
      }
      .input-adress {
        width: 310px;
      }
    }
  }
}
