.tornier {
  .step-of-final {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    h4 {
      width: 300px;
      text-align: center;
    }
  }
  .tornier-table {
    width: 100%;
    margin: 46px auto;
    display: flex;
    justify-content: space-around;
    table {
      position: relative;
      width: 300px;
      margin-bottom: 20px;
      tbody {
        position: relative;
        z-index: 99999;
      }
    }
    .horizontal-line:before {
      content: "";
      position: absolute;
      border-bottom: 2px solid #ffffff;
      width: 30px;
      top: 40px;
      right: -31px;
    }
    .vertical-line {
      &:after {
        content: "";
        position: absolute;
        border-right: 2px solid #ffffff;
        width: 2px;
        height: 105px;
        top: 41px;
        right: -31px;
      }
      tbody {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          border-bottom: 2px solid #ffffff;
          width: 60px;
          top: 95px;
          right: -89px;
        }
      }
    }
    .third-table {
      margin-top: 70px;
    }
    td {
      vertical-align: middle;
      text-align: center;
      &:first-child,
      &:last-child {
        width: 41px;
        height: 41px;
      }
      &:first-child {
        background-color: #116ed5;
      }
      &:nth-child(2) {
        width: 215px;
      }
    }
    table,
    th,
    td {
      border: 2px solid #128df3;
      background-color: #0d80ed;
      border-collapse: collapse;
    }
    .second-table-column {
      margin-top: 55px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        border-right: 2px solid #ffffff;
        width: 2px;
        height: 259px;
        top: 40px;
        right: -33px;
      }
      .middle-table {
        &:last-child {
          margin-top: 173px;
        }
        &:first-child {
          tbody {
            position: relative;
            z-index: 99999;
            &:before {
              content: "";
              position: absolute;
              border-bottom: 2px solid #ffffff;
              width: 60px;
              top: 176px;
              right: -91px;
            }
          }
        }
      }
    }
    .third-table-column {
      table {
        margin-top: 190px;
      }
    }
  }
}

@media all and (max-width: 1027px) {
  .tornier {
    .tornier-table {
      table {
        width: 230px;
      }
    }
  }
}

@media all and (max-width: 815px) {
  .overflow-hidden {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .bg-searching-opponents {
    background-position-y: top;
    top: 22px;
    background-size: 100% 37%;
  }
  .tornier {
    padding-top: 57px;
    .flex {
      h3 {
        font-size: 14px;
      }
    }
    .step-of-final {
      margin-top: 30px;
      h4 {
        font-size: 8px;
      }
    }
    .tornier-table {
      margin-top: 20px;
      table {
        width: 130px;
      }
      tr {
        font-size: 8px;
      }
      td {
        &:first-child,
        &:last-child {
          width: 18px;
          height: 18px;
        }
      }
      .third-table {
        margin-top: 43px;
      }
      .horizontal-line {
        &:before {
          top: 18px;
        }
        &:after {
          height: 57px;
          top: 20px;
        }
      }
      .vertical-line {
        tbody:after {
          width: 86px;
          right: -116px;
          top: 47px;
        }
      }
      .second-table-column {
        margin-top: 29px;
        .middle-table {
          &:first-child tbody:before {
            width: 86px;
            top: 101px;
            right: -117px;
          }
          &:last-child {
            margin-top: 102px;
          }
        }
        &:after {
          height: 142px;
          top: 18px;
        }
      }
      .third-table-column table {
        margin-top: 112px;
      }
    }
  }
}
